*.pyc
nbproject
static/images/emails
static/images/john
static/images/usability_screenshots
*.pyo
*.xcf
*.psd
var
tmp
env.yaml
*~
static/images/autosprites
.project
.pydevproject
*.swp
*.swo
\#*
static/sitemap*.xml
static/sitemaps/XyZZy/*
*NewAbout*
templates/shopping/jack
static/images/junk
static/images/MiloCategories.png
static/images/Linking-Strategy.png
tags
TAGS
deploy_tmp
.ropeproject/
nosetests.xml
local_settings.py

